 root = true
 
 [*]
 indent_style = tab
 indent_size = 4
 trim_trailing_whitespace = true

 [*.csproj]
 indent_size = 2

 [*.cs]
 dotnet_sort_system_directives_first = true
 dotnet_style_predefined_type_for_locals_parameters_members = true
 dotnet_style_predefined_type_for_member_access = false

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1305: Field names should not use Hungarian notation
dotnet_diagnostic.SA1305.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = suggestion

# SA1501: Statement should not be on a single line
dotnet_diagnostic.SA1501.severity = none

# SA1314: Type parameter names should begin with T
dotnet_diagnostic.SA1314.severity = none

# SA1135: Using directives should be qualified
dotnet_diagnostic.SA1135.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = suggestion

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = none

# SA1130: Use lambda syntax
dotnet_diagnostic.SA1130.severity = none

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = none

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = none
